	html, body, .container {
		margin: 0;
		padding: 0;
	}

	body {
		display: block;
		font-family: "Nunito", sans-serif;
		color: #000000;
		background-color: #e0e0e0;
		position: absolute;
		margin: 0 0 0 0;
	}

	/* Type Settings */
	h1 {
		font-family: "Nunito", sans-serif;
		font-weight: 600;
		font-size: 60pt;
		color: #000000;
	}

	h2 {
		font-family: "Nunito", sans-serif;
		font-weight: 500;
		font-size: 4vw;
		color: #000000;
	}

	h3 {
		font-family: "Nunito", sans-serif;
		font-weight: 300;
		font-size: 35pt;
		color: #000000;
	}

	p {
		font-family: "Nunito", sans-serif;
		font-weight: 350;
		font-size: 19pt;
		color: #000000;
	}

	.mobileCapt p {
		font-size: 24pt;
		font-weight: 400;
		color: #FFFFFF;
		text-align: left;
		padding: 0 1em 0 1em;
	}

	.iconCapt p {
		font-size: 12pt;
		font-weight: 700;
		color: #000000;
		text-align: center;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	.red {
		color: #DC4949;
	}

	.boldh1 {
		font-weight: 700;
	}

	.boldh3 {
		font-weight: 400;
	}

	.boldp {
		font-weight: 700;
		color: #DC4949;
	}

	/* Navigation Bar */
	.nav {
		position: fixed;
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
		padding: 0;
		overflow: hidden;
		background-color: #ffffff;
		font-size: 16pt;
		z-index: 2;
		box-shadow: 0px 5px 15px #404040;
	}

	.navBlock {
		transform: scale(1.0);
		transform-origin: bottom left;
		transition: transform 0.2s ease;
	}

	.navBlock:hover {
		transform: scale(1.05);
	}

	.navBlock img {
		float: left;
		max-width: 100%;
		height: 35px;
		margin: 12px 0 10px 4vw;
	}

	.navBlock p {
		float: left;
		text-decoration: none;
		margin: 8px 0 5px 1vw;
		color:  #DC4949;
		font-size: 26pt;
		font-weight: 700;
	}

	#menuIcon {
		display: none;
	}

	.navLinks {
		display: flex;
		float: right;
	}

	.navLinks a span {
		font-weight: 600;
	}

	.navLinks a {
		margin-right: 14px;
		display: block;
		font-weight: 500;
		color: #000000;
		text-align: center;
		padding: 16px;
		transform: scale(1.0);
		transition: all 0.2s ease;
	}

	.navLinks a:hover {
		color:  #DC4949;
		transform: scale(1.1);
		transition: all 0.2s ease;
	}

	/* @Media Queries for navigation bar to show icon when under 900px */
	@media screen and (max-width: 846px) {
		.navBlock img {
			margin-top: 18px;
			height: 40px;
		}

		.navBlock p {
			margin-top: 15px;
			font-size: 24pt;
		}

		#menuIcon {
			margin: 15px 4vw 0 0;
			display: block;
			float: right;
			z-index: 3;
		}

		#menuIcon img {
			height: 40px;
			transition: transform 0.2s ease;
		}

		#menuIcon img:hover {
			transform: scale(1.1);
		}

		.navLinks {
			margin: 60px 0 10px 0;
			display: block;
		}

		.navLinks a {
			padding: 3px;
			display: none;
		}

		.nav.expanded {
			position: fixed;
		}

		.nav.expanded a.icon {
			position: absolute;
			right: 0;
			top: 0;
		}

		.nav.expanded a {
			float: none;
			display: block;
			text-align: left;
		}
	}

	/* Intro Panel */
	.introPanel {
		/* Setting parallax background */
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url(../image/banner.jpg);
		height: 100%;
	}

	.introGrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		padding: 4em;
	}

	.introPanel h1 {
		margin-bottom: 0;
	}

	.introPanel h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.introPanel p {
		margin-top: 1em;
		margin-bottom: 0;
	}

	/* Features Panel */
	.featPanel {
		background-image: url(../image/homeBack.png);
	}

	.featGrid {
		margin-top: 0;
		padding: 4em;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		grid-gap: 2em;
	}

	.featGrid img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		box-shadow: 5px 5px 15px #000000;
		opacity: 1.0;
		transition: opacity .2s ease-in;
	}

	.featGrid a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 3em;
	}

	.pWrap {
		position: relative;
	}

	.mobileCapt {
		background-color: #DC4949;
		margin-top: 1em;
		width: 100%;
	}

	/* Contact Panel */
	.contact {
		/* Setting parallax background */
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url(../image/banner-rev.jpg);
		height: 120vh;
	}

	.contGrid{
		padding: 4em;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}

	.contact h1 {
		margin-top: 0;
	}

	.contact p {
		margin-bottom: 2em;
	}

	.buttons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
		grid-gap: 1em;
	}

	.iconCapt {
		margin-top: 4em;
		margin-left: -7em;
	}

	.linkedin, .resume, .gdsite, .instagram {
		display: flex;
		justify-content: center;
		width: 75px;
		height: 75px;
	}

	.linkedin {
		background: url("../image/iconL2.png") center;
		background-size: cover;

		transform: scale(1.0);
		transition: all 0.2s ease-in;
	}

	.resume {
		background: url("../image/iconR2.png") center;
		background-size: cover;

		transform: scale(1.0);
		transition: all 0.2s ease-in;
	}

	.gdsite {
		background: url("../image/iconD2.png") center;
		background-size: cover;

		transform: scale(1.0);
		transition: all 0.2s ease-in;
	}

	.instagram {
		background: url("../image/iconI2.png") center;
		background-size: cover;

		transform: scale(1.0);
		transition: all 0.2s ease-in;
	}

	/* @Media Queries for non-mobile devices */
	@media screen and (min-width: 1281px) {
		/* Text */
		.boldp {
			font-weight: 700;
			color: #000000;
			text-decoration: none;
			transition: color 0.2s ease;
		}

		.boldp:hover {
			color: #DC4949;
			transition: color 0.2s ease;
		}

		/* Features Grid */
		.pWrap:after {
			display: flex;
			width: 96%;
			height: 96%;
			align-items:flex-end;
			font-weight: 400;
			font-size: 35px;
			text-align: left;
			padding: 1vw;
			content: attr(data-title) "\A" attr(data-capt);
			white-space: pre-wrap;
			position: absolute;
			top: 0px;
			left: 0px;
			color: white;
			background: #DC4949;;
			opacity: 0;
			transition: all 0.2s ease;
		}

		.pWrap:hover:after {
			transform: scale(0.8);
			opacity: 0.9;
		}

		/* Icons */
		.mobileCapt {
			display: none;
		}

		.linkedin:hover {
			background: url("../image/iconL1.png") center;
			background-size: cover;

			transform: scale(1.2);
		}

		.resume:hover {
			background: url("../image/iconR1.png") center;
			background-size: cover;

			transform: scale(1.2);
		}

		.gdsite:hover {
			background: url("../image/iconD1.png") center;
			background-size: cover;

			transform: scale(1.2);
		}

		.instagram:hover {
			background: url("../image/iconI1.png") center;
			background-size: cover;

			transform: scale(1.2);
		}
	}

	/* Dividers */
	.divider {
		margin-bottom: 0;
		display:flex;
	}

	.divider img {
		width: 100%;
		height:20vw;
	}
